{% extends 'layout.html' %}

{% block body %}

<script language="JavaScript" type="text/javascript" src=" {{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
function startupdate() {
    document.getElementById('indexContent').style.display = "none";
    document.getElementById('updatestatus').style.display = "block";
    $.ajax(
    {
        url: '/update',
        type: "GET"
    });
    updatestatus();
}

function updatestatus() {
     $.ajax(
    {
        url: '/updatestatus',
        success: function(response) {
            if(response==0) {
                document.getElementById('updatestatusvalue').innerHTML = "Installerar uppdatering 10%";
            } else if(response==1) {
                document.getElementById('updatestatusvalue').innerHTML = "Installerar uppdatering 60%";
            } else if(response==2) {
                document.getElementById('updatestatusvalue').innerHTML = "Installerar uppdatering 100%";
                document.getElementById('updatestatusvalue').style.color = "green";
            }
            if(response!=2) {
                setTimeout(updatestatus, 100);
            }
        }
    });
}
</script>

  <div id="indexContent">
     <p align="center"><a href="/"><img src="/static/gdis.png"></a></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>Update The System Now ?</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <button class="button" onclick="startupdate()" style="height:60px;width:70px">Yes</button> &nbsp; &nbsp; &nbsp;
     <a href="{{ url_for('update') }}"><button class="button" style="height:60px;width:70px">Yes</button></a> &nbsp; &nbsp; &nbsp;
     <a href="{{ url_for('no') }}"><button class="button" style="height:60px;width:70px">No</button></a>
  </div>
   <div id="updatestatus" style="display:none; color:white">
        <p id="updatestatusvalue" align="center" style="color:white"> </p>
   </div>

{% endblock %}
